@import "./fonts.scss";

$color-body: #b8b8b8;
$color-heading: #fad8d1;
$color-base: #004c5c;
$color-base-2: #003742;
$color-brand: #ff7c5e;
$color-brand-2: #e9593c;
$sidebar-width: 15rem;
$font-base: Jura;

$transition-default: all 0.4s ease;