@font-face {
	font-family: "Jura";
	src: url("./assets/fonts/subset-Jura-Bold.woff") format("woff"),
		url("./assets/fonts/subset-Jura-Bold.ttf") format("truetype"),
		url("./assets/fonts/subset-Jura-Bold.svg#Jura-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jura";
	src: url("./assets/fonts/subset-Jura-Regular.woff") format("woff"),
		url("./assets/fonts/subset-Jura-Regular.ttf") format("truetype"),
		url("./assets/fonts/subset-Jura-Regular.svg#Jura-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jura";
	src: url("./assets/fonts/subset-Jura-SemiBold.woff") format("woff"),
		url("./assets/fonts/subset-Jura-SemiBold.ttf") format("truetype"),
		url("./assets/fonts/subset-Jura-SemiBold.svg#Jura-SemiBold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jura";
	src: url("./assets/fonts/subset-Jura-Light.woff") format("woff"),
		url("./assets/fonts/subset-Jura-Light.ttf") format("truetype"),
		url("./assets/fonts/subset-Jura-Light.svg#Jura-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jura";
	src: url("./assets/fonts/subset-Jura-Medium.woff") format("woff"),
		url("./assets/fonts/subset-Jura-Medium.ttf") format("truetype"),
		url("./assets/fonts/subset-Jura-Medium.svg#Jura-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-body: #eef2f6;
	--color-heading: #acbdd2;
	--color-base: #243345;
	--color-base-2: #405978;
	--color-brand: #ff0183;
	--color-brand-2: #ba0160;
	--sidebar-width: 15rem;
	--font-base: Jura;
}

html,
body {
	overflow-x: hidden;
}

body {
	background-color: var(--color-base-2);
	color: var(--color-body);
	font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: var(--color-heading);
	font-weight: 700;
}

a {
	text-decoration: none;
	color: var(--color-body);
	transition: all 0.4s ease;
}

a:hover {
	color: var(--color-brand);
}

img {
	width: 100%; /* or max-width: 100%; */
	height: auto;
}

.text-brand {
	color: var(--color-brand);
}

.bg-brand {
	background-color: var(--color-brand);
}

.bg-base {
	background-color: var(--color-base);
}

.text-base {
	color: var(--color-base);
}

.full-height {
	min-height: 100dvh;
	height: 100%;
}

.full-width {
	width: 100vw;
}

.shadow-effect {
	transition: all 0.5s;
}

.shadow-effect:hover {
	box-shadow: -0.5rem 0.5rem 0 0 var(--color-brand),
		-1rem 1rem 0 0 var(--color-base);
}

.icon-container {
	width: 3.75rem;
	height: 3.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-brand);
	color: var(--color-base);
}

.icon {
	fill: var(--color-base);
	width: 80%;
	height: 80%;
}

.icon-small {
	width: 1.5rem;
	height: 1.5rem;
}

.icon-big {
	fill: var(--color-heading);
	width: 2rem;
	height: 2rem;
}

.icon-big:hover {
	fill: var(--color-brand);
}

.contribution {
	font-size: 0.75rem;
	display: none;
}

/* Navbar */

.navbar {
	background-color: var(--color-brand-2);
}

.navbar .nav-link {
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.4s;
}

.navbar .nav-link:hover {
	color: var(--color-base-2);
	letter-spacing: 0.25rem;
}

.navbar .active {
	color: var(--color-base-2) !important;
	letter-spacing: 0.125rem;
}

.section {
	border-bottom: 0.5rem solid var(--color-brand-2);
}

@media (min-width: 992px) {
	.navbar {
		min-height: 100vh;
		width: var(--sidebar-width);
		background: linear-gradient(#405978bb, var(--color-brand)),
			url("./assets/images/vi-bg.webp");
		/* Photo by <a href="https://unsplash.com/@achimr?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Achim Ruhnau</a> on <a href="https://unsplash.com/photos/an-aerial-view-of-a-mountain-range-in-the-desert-cVNQeIJCN78?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
		background-size: cover;
		background-position: center;
	}

	.navbar .contribution {
		display: block;
	}

	.navbar-brand img {
		border: 0.5rem solid var(--color-brand-2);
		overflow: hidden;
		transition: all 0.4s ease;
	}

	.navbar-brand:hover img {
		outline: 0.5rem solid var(--color-base-2);
		border: 1rem solid var(--color-brand-2);
	}

	/* Content wrapper */

	#content-wrapper {
		padding-left: var(--sidebar-width);
	}
}

/* Button */

.btn {
	padding: 0.75rem 1.75rem;
	font-weight: 700;
	transition: all 0.4s;
}

.btn-brand {
	background-color: var(--color-brand);
	color: var(--color-base-2);
	border-color: var(--color-brand);
}

.btn-brand:hover,
.btn-brand:focus {
	background-color: var(--color-brand-2);
	color: var(--color-base-2);
	border-color: var(--color-brand-2);
}

.link-custom {
	font-weight: 700;
	position: relative;
}

.link-custom::after {
	content: "";
	width: 0%;
	height: 0.125rem;
	background-color: var(--color-brand);
	position: absolute;
	left: 0;
	top: 110%;
	transition: all 0.4s;
}

.link-custom:hover:after {
	width: 100%;
}

/* Card */

.card-custom .card-custom__image {
	overflow: hidden;
	/* border-top: 2px solid var(--color-brand);
	border-right: 2px solid var(--color-brand); */
}

.card-custom .card-custom__image img {
	transition: all 0.4s ease;
}

.card-custom:hover .card-custom__image img {
	transform: scale(1.1);
}
